.card4{
  background: white;
  border-radius: var(--br1);
  border: 1px solid var(--gray);
  margin-bottom: 50px;
  
  .card-header{
    padding: 20px 30px;

    .post-meta{
      margin-bottom: 10px;
      display: flex;
      gap: 30px;
      justify-content: space-between;
      
      .post-tags{
  
        ul{
          display: flex;
          align-items: center;
          height: 100%;
          gap: 10px;
  
          li{
            color: var(--orange);
            padding: 2px 8px;
            font-size: 25px;
  
            &:hover{
              color: var(--purple);
            }
          }
        }
      }

      .post-likes{

        .heart-icon{
          color: var(--orange);
          margin-right: 5px;
          cursor: pointer;
        }
      }
  
    }
  }

  a{
    .img-container{
      .card-img{
        .image{
          img{
            aspect-ratio: 16 / 9;
            object-fit: cover;
            width: 100%;
          }
        }
      }
    }
  }

  .card-footer{
    padding: 20px 30px;

    .post-meta2{
      display: flex;
      gap: 15px;
      align-items: center;

      .create-at-group{
        display: flex;
        gap: 5px;
        color: var(--gray);
        align-items: center;
  
        .calendar-icon{
          height: '100%';
          border-radius: 50%;
          background: var(--gray);
          color: white;
          padding: 3px;
        }
        p{
          font-size: 19px;
        }
      }

      .post-likes-group{
        display: flex;
        gap: 5px;
        color: var(--gray);
        align-items: center;

        .heart-icon{
          height: 100%;
          border-radius: 50%;
          background: var(--gray);
          color: white;
          padding: 3px;
        }

        p{
          font-size: 19px;
        }
      }

    }

    
    .post-content{
      font-size: 19px;
      line-height: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .read-more{
      margin-top: 10px;
      display: flex;
      gap: 5px;
      align-items: center;

      
      p{
        font-size: 19px;
      }
      
      .right-icon{
        color: var(--orange);
      }

      &:hover{
        p{
          color: var(--purple);
        }
        
        .right-icon{
          color: var(--purple);
        }
      }
    }
  }
}