@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  // height: 400vh;
}

h1,
h2,
h3 {
  font-weight: bold;
}

// font 
h1 {
  font-size: 42px
}

h2 {
  font-size: 35px
}

h3 {
  font-size: 28px
}

h4 {
  font-size: 24px
}

h5 {
  font-size: 19px
}

p {
  font-size: 15px;
}

// color
$white: #fff;
$light-gray: #F7F7F7;
$gray: #B7B7B7;
$dark-gray: #252525;
$orange: #F2AE3D;
$yellow: #F8DA95;
$eggyolk: #FCED53;
$purple: #514895;

// border-radius
$br1: 15px; // card | image | ...
$br2: 35px; // button


// ::-webkit-scrollbar {
//   width: 15px;
// }

// ::-webkit-scrollbar-track {
//   background: #F7F7F7;
// }

// ::-webkit-scrollbar-thumb {
//   background: #F2AE3D;
// }