@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: 'cwTeXYen', sans-serif;
  font-weight: 900;
  // height: 400vh;
}

h1,
h2,
h3 {
  // font-weight: bold;
}

// font 
h1 {
  font-size: 42px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 29px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

// color
$white: #fff;
$light-gray: #F7F7F7;
$gray: #B7B7B7;
$dark-gray: #424242;
$orange: #F2AE3D;
$yellow: #F8DA95;
$eggyolk: #FCED53;
$purple: #514895;
$red:#9A4242;
$family: 'Sigmar One';

// border-radius
$br1: 15px; // card | image | ...
$br2: 35px; // button


// ::-webkit-scrollbar {
//   width: 15px;
// }

// ::-webkit-scrollbar-track {
//   background: #F7F7F7;
// }

// ::-webkit-scrollbar-thumb {
//   background: #F2AE3D;
// }