@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  // height: 400vh;
}


// ::-webkit-scrollbar {
//   width: 15px;
// }

// ::-webkit-scrollbar-track {
//   background: #F7F7F7;
// }

// ::-webkit-scrollbar-thumb {
//   background: #F2AE3D;
// }