.images-container {
    max-width: 1160px;
    margin: 0px auto;
    margin-bottom: 40px;
    display: flex;
    max-width: 1160px;
    flex-wrap: wrap;
    justify-content: center;

    .image-banner-text {
        margin: 20px;
    }
    .bottom-row {
        max-width: 1160px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 22px;
            
        .image-box {
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            max-height: 172px;
            min-width: 281px;

            .responsive-image {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            &:hover {
                cursor: pointer;
                & .responsive-image {
                    transform: scale(1.1);
                    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
                }
            }

            .cate-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                font-weight: bold;
                // line-height: 1.2em;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
                color: white;
                white-space: nowrap;
            }
        }
    }
}






