@import "../../../index.scss";

@mixin flex($justify, $direction) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
}
@mixin mobile() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
