@import "../styles/styles.scss";

.table-place {
  @include flex(center, column);
  .icon-place {
    padding: 3px;
    cursor: pointer;
  }
  .tr-hover {
    transition: 0.3s;
    &:hover {
      background: var(--light-gray);
    }
  }
  table {
    width: 100%;
    text-align: center;
    td {
      padding: 10px;
      margin: 5px;
      letter-spacing: 0.5px;
    }
  }
}

.alert-style {
  border: 0.5px solid rgba(255, 0, 0, 0.456) !important;
}
