@import "../styles/styles.scss";

.membercenter-place {
  width: 100%;
  .membercenter-box {
    display: flex;
    justify-content: center;
    margin: 20px;
    .col {
      margin: 0 5px;
    }
    .col-1 {
      width: 25%;
      .aside-box {
        box-shadow: 0px 0px 10px 0.8px var(--gray);
        padding: 15px;
        background-color: #fff;
        border-radius: 6px;
        margin-bottom: 15px;
        .user-img {
          width: 120px;
          height: 120px;
          margin: 0 auto;
          background: #eaeaea;
          border-radius: 100%;
          border: 1px solid #eee;
          position: relative;
          .camera-place {
            @include flex(center,'');
            position: absolute;
            width: 35px;
            height: 35px;
            bottom: 0;
            right: 0;
            background: #fff;
            border-radius: 100%;
          }
        }
        .user-name {
          text-align: center;
          margin-top: 20px;
          font-size: 20px;
          font-weight: 500;
        }
        .user-information {
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 14px;
          margin: 10px 0;
          color: #666;
        }
        .user-point {
          color: darkolivegreen;
          font-size: 16px;
        }
      }
      .page-menu {
        list-style: none;
        box-shadow: 0px 0px 10px 0.8px var(--gray);
        border-radius: 5px;
        margin-top: 30px;
        padding: 5px 15px;
        .list-item {
          padding: 5px 10px;
          .link {
            display: flex;
            align-items: center;
            opacity: 0.9;
            transition: 0.3s;
            &:hover {
              padding-left: 10px;
              border-left: 5px solid var(--orange);
              color: var(--orange);
            }
            .link-content {
              margin: 5px 10px;
              font-size: 18px;
            }
          }
          .link-hover {
            display: flex;
            align-items: center;
            opacity: 0.9;
            transition: 0.3s;
            padding-left: 10px;
            border-left: 5px solid var(--orange);
            color: var(--orange);
            .link-content {
              margin: 5px 10px;
              font-size: 15px;
            }
          }
        }
      }
    }
    .col-2 {
      width: 70%;
      margin-left: 15px;
    }
  }
}
