@import 'index.scss';

  .card2{
    position: relative;
  
    .card-img{
      max-height: 178px;
      border-radius: $br1;
    }
  
    .card-body{
      padding: 10px;
  
      .blog-tags{
        display: flex;

        li{
          margin-right: 5px;
          width: fit-content;
          border-radius: $br2;
          background-color: $orange;
          color: $white;
          padding: 2px 8px;

          &:hover{
            background-color: $purple;
          }

          a:hover{
            color: $white;
          }
        }
      }
      .card-title{
        margin: 8px 0;
      }
  
      .card-likes{
        gap: 1px;
        
        .heart-icon{
          height: 100%;
          display: block;
          color: $orange;
          margin-right: 3px;
        }
      }
    }
  }