
  .card2{
    position: relative;
    max-width: 278px;
    width: 100%;
  
    .card-img{
      .image{
        img{
          aspect-ratio: 16 / 9;
          object-fit: cover;
          border-radius: var(--br1);
        }
      }
    }
  
    .card-body{
      padding: 10px;
  
      .blog-tags{
        display: flex;

        li{
          margin-right: 5px;
          width: fit-content;
          border-radius: var(--br2);
          background-color: var(--orange);
          color: white;
          padding: 2px 8px;

          &:hover{
            background-color: var(--purple);
          }

          a:hover{
            color: white;
          }
        }
      }
      .card-title{
        margin: 8px 0;
      }
  
      .card-meta{
        gap: 1px;
        
        .heart-icon{
          height: 100%;
          display: block;
          color: var(--orange);
          margin-right: 3px;
          cursor: pointer;
        }

        p{
          color: var(--dark-gray);
        }
      }
    }
  }