@import 'index.scss';

  .card2{
    width: 376px;
    height: 280px;
    border: none;
    position: relative;
  
    .card-img{
      width: 100%;
      height: 178px;
      border-radius: $br1;
    }
  
    .card-body{
      padding: 8px;
  
      .blog-tags{
        li{
          margin-right: 5px;
          width: fit-content;
          border-radius: $br2;
          background-color: $orange;
          color: $white;
          padding: 2px 8px;
        }
      }
      .card-title{
        margin: 5px 0 5px 0;
      }
  
      .card-likes{
        gap: 1px;
        
        .heart-icon{
          height: 100%;
          display: block;
          color: $orange;
          margin-right: 3px;
        }
      }
    }
  }