@import 'index.scss';

.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;

  .address-book{
    width: 40px;
    height: 70px;
    margin: 20px;
  }

  .select-address{
    font-weight: bold;
    margin-bottom: 40px;
  }

  .address-box2 {
      display: flex;
      flex-direction: column;
    }
}
