@import "../styles/styles.scss";

//login css
.login-modal-background {
  @include flex(center, "");
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  background-color: rgba(0, 0, 0, 0.4);
  .login-modal-content {
    position: relative;
    overflow-y: auto;
    position: fixed;
    margin: 0 auto;
    width: 500px;
    height: 550px;
    border-radius: var(--br2);
    background: var(--gray);
    .close-login-button {
      position: absolute;
      color: white;
      top: 15px;
      left: 15px;
      background-color: transparent;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        color: var(--purple);
      }
    }

    .login-place {
      @include flex(center, "");
      flex-direction: column;
      padding: 30px;
      font-size:16px;
      h1 {
        margin-top: 40px;
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-size: 40px;
        text-transform: uppercase;
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        color: white;
        text-shadow: 0px 5px 5px var(--gray);
      }
      .form-place {
        @include flex(center, column);
        width: 80%;
        .input-password {
          position: relative;
          background: white;
          border-radius: var(--br2);
          margin: 10px 0px;
          width: 100%;
          font-size: 16px;
          .input-box {
            margin: 0px;
            width: 90%;
          }
          .show-password-icon {
            position: absolute;
            cursor: pointer;
            right: 0;
            top: 0;
            margin: 10px;
            transform: translateX(-50%), translateY(-50%);
            transition: 0.3s;
            &:hover {
              color: var(--purple);
            }
          }
        }
        .input-box {
          position: relative;
          border-radius: var(--br2);
          margin: 10px 0px;
          padding: 10px 20px;
          width: 100%;
          font-size: 16px;
          &::-webkit-input-placeholder {
            transition: 0.5s;
          }
          &:focus {
            outline: none;
          }
          &:focus::-webkit-input-placeholder {
            position: absolute;
            top: 0;
            left: 5;
            font-size: 12px;
          }
        }
        .login-option {
          @include flex(space-between, "");
          width: 100%;
          margin-top: 5px;
          .alert-place {
            color: rgb(254, 71, 71);
            font-size: 18px
          }
        }
        .submit-place {
          @include flex(center, column);
          width: 100%;
          .input-submit {
            width: 100%;
            border-radius: var(--br2);
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
            box-shadow: 0px 0px 5px 0.5px var(--gray);
            transition: 0.2s;
            letter-spacing: 5px;
            transition: 0.3s;
            background: var(--orange);
            color: #fff;
            cursor: pointer;
            &:hover {
              background: var(--purple);
            }
            &:active {
              background: #3f3875;
            }
          }
          .other-login-place {
            @include flex(center, "");
            width: 100%;
            margin-top: 15px;
            .other-login-btn {
              @include flex(center, "");
              border-radius: 100%;
              padding: 10px;
              transition: 0.3s;
            }
            .btn-google {
              background: white;
              opacity: 0.8;
              &:hover {
                background: white;
                opacity: 1;
              }
              &:active {
                background: var--(--gray);
              }
            }
            .btn-facebook {
              background: #385898;
              margin-left: 15px;
              margin-right: 15px;
              opacity: 0.8;
              &:hover {
                background: #385898;
                opacity: 1;
              }
              &:active {
                background: #273f6f;
              }
            }
            .btn-apple {
              background: #111;
              opacity: 0.8;
              &:hover {
                background: #111;
                opacity: 1;
              }
              &:active {
                background: var(--dark-gray);
              }
            }
          }
        }
      }
    }
  }
}

.text-style {
  font-size: 16px;
  color: $white;
  font-weight: 400;
  letter-spacing: 1px;
  transition: 0.3s;
  margin: 0 5px;
  cursor: pointer;
  &:hover {
    color: $purple;
  }
}
.other-login-text {
  margin-top: 10px;
  font-size: 15px;
  color: $white;
  font-weight: 400;
  letter-spacing: 1px;
}

.alert-style {
  border:.5px solid rgba(255, 0, 0, 0.456) !important;
}