@import 'index.scss';

.home-banner{
  position: relative;
  width: 100vw;

  .home-banner-img{
    width: 100vw;
  }
  
  .title-section{
    position: absolute;
    top: 10%;
    right: calc(50% - 189px);
    
    .home-blog-h1{
      color: $white;
    }
    
    .home-search{
      max-height: 60px;
      height: 100%;
      background-color: $white;
      border-radius: $br2;
      display: flex;
      margin-top: 10px;
      padding: 20px;
  
      .home-input{
        width: 100%;
        padding: 10px;
        border-radius: $br2;
        font-size: large;
      }
    
      .home-input::placeholder{
        text-align: left;
      }
  
      .home-input:focus{
        outline: none;
      }
  
      .home-button{
        width: auto;
        height: auto;
        color: $orange;
        border-radius: $br2;
        
        .home-search-icon{
          display: block;
          margin: 0 auto;
        }
      }
    }
  }


}

.section{
  margin-bottom: 30px;
  
  .h2-container{
    padding: 20px 0;
  }

  .card-container{
    position: relative;
  }

  .padding-left{
    width: 100%;
    padding-left: 15px;
  }
  
  .padding-right{
    width: 100%;
    padding-right: 15px;
  }

  .arrow-left{
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    left: calc(0% - 50px);
    color: $orange;
  }
  
  .arrow-right{
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    right: calc(0% - 50px);
    color: $orange;
  }
}
