@import 'index.scss';

.tourCategory {
  overflow: hidden;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
  min-width: fit-content;
  min-height: fit-content;

  font-size: 16px;
  line-height: 19px;
  text-align: left;
  transition: transform 0.2s ease-in-out;
  border: 0px solid transparent;
}

.tourCategoryImg {
  width: 12vw;
  height: 15vw;
  object-fit: cover;
}

.tourCategoryText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  color: $white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bolder;
}

.tourCategory:hover {
  transform: translateY(-15px);
  border-radius: 10px;
  box-shadow: 0px 15px 15px -10px orange, 0px 16px 24px rgba(0, 0, 0, 0.1);
}

