@import 'index.scss';

.checkout-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 40px;
    color: $orange ;
    white-space: nowrap;
    font-family: Sigmar One;
  }

  .order-steps {
    min-height: 50vh;

  }

}
