@import 'index.scss';

.checkoutbar-container {
  width: 100vw;

  .checkoutbar {
      counter-reset: step;

      @keyframes move {
          from {
            transform: translateX(-100%);
          }
      
          to {
            transform: translateX(4%);
          }
        }
     
      .car{
        position: absolute;
        animation: move 2s ease-in-out;
        height: 30px; 
      }
            .car.move2 {
              transition: transform 2s ease-in-out;
              transform: translateX(800%);
            }
            .car.move3 {
              transition: transform 1.5s ease-in-out;
              transform: translateX(1600%);
            }

      li {
        list-style: none;
        display: inline-block;
        width: 33.33%;
        position: relative;
        text-align: center;
        border-bottom: 1px solid $light-gray;        
      }

        .active {
          color: $orange;
          border-bottom: 3px solid $orange;
              
        }

      .flag{
        color: $orange;
        position: absolute;
        right: 50px;
        height: 30px;
        top: 18%;
      }
  }
}

