footer {
  margin-top: 40px;
  background-color: #333;
  color: #fff;
  padding: 2rem 0;

  .container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer-items {
      text-align: center;
      width: 100%;

      @media (min-width: 768px) {
        width: calc(33.33% - 1rem);
      }

      &:first-child {
        margin-right: 1rem;
      }

      &:last-child {
        margin-left: 1rem;
      }

      h5 {
        margin-bottom: 1rem;
        font-size: 19px;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 2rem;
      }

      .follow-us {
        margin: auto;
        display: flex;
        justify-content: space-between;
        
        width: 35%;
      }
      Link {
        size: 20px;
      }

      ul {
        margin-bottom: 2rem;
        list-style: none;

        li {
          margin-bottom: 0.5rem;

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .row {
      width: 100%;
    }

    .text-center {
      text-align: center;
    }
  }
}