@import "../index.scss";

header {
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  align-items: center;
  border-bottom-width: 2px;
  top: 0;
  background-color: $white;
  z-index: 10;
  overflow: hidden;

  .navbar-content {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items:center;
      .brand {
          display: flex;
          align-items: center;
        }
      
        .title {
          white-space: nowrap;
          font-family: Sigmar One;
          // font-size: h1;
          color: $orange;
        }

        .header-section {
          .header-ul {
              display: flex;
              align-items: center;
              .header-li {
                margin: 0px 10px;
              }
              .links {
               
                white-space: nowrap;
                font-weight: bold;
                transition: .3s;
                &:hover {  
                  border-bottom: 5px solid $orange;
                  color: $orange;
                }
              }
            }
        }
        li {
          margin: 0px 10px;
        }
        .links {
          margin: 0 10px;
          white-space: nowrap;
          font-weight: bold;
          transition: 0.3s;
          padding-bottom: 15px;
          &:hover {
            border-bottom: 5px solid $orange;
            color: $orange;
          }
        }
      }
    }
  }
}
