@import "../index.scss";

header {
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  align-items: center;
  border-bottom-width: 2px;
  top: 0;
  background-color: $white;
  z-index: 10;
  overflow: hidden;

  .navbar-content {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      display: flex;
      align-items: center;
    }

    .title {
      white-space: nowrap;
      font-family: Sigmar One;
      // font-size: h1;
      color: $orange;
    }

    .header-section {
      .header-ul {
        display: flex;
        align-items: center;
        .header-li {
          margin: 0px 10px;

          .cart-button{
            position: relative;

            .bs-circle-fill {
                position: absolute;
                top: 0px;
                right: 0px;
                // z-index: 1;
                color: $purple;

                &:before {
                    content: "20";
                    font-size: 12px;
                    font-weight: bolder;
                    color: white;
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
              }
            }
          }
        }
        .links {
          white-space: nowrap;
          font-weight: bold;
          transition: 0.3s;
          &:hover {
            border-bottom: 5px solid $orange;
            color: $orange;
          }
        }
      }
    }
  }
}
