@import 'index.scss';

.product-detail-page{
  display: flex;
  flex-direction: column;


  .product-detail {
      display: flex;
      flex-direction: column;
      height: 100%;
  
      .product-image-gallery {
        display: flex;
        flex-direction: row;
        width: 70vw;
        flex-grow: 2;
  
        .thumbnail-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          position: sticky;
          width: 120px;
          height: 400px;
          margin-left: 20px;
          z-index: 10;
  
          .thumbnail {
            margin-bottom: 10px;
            cursor: pointer;
  
            &.active img {
              border: 2px solid #000;
              opacity: 0.5;
            }
          }
        }
  
        .main-image-container {
          flex: 1;
          height: 70vh;
          overflow-y: scroll;
          position: fixed;
  
          .main-image {
            width: 30%;
            margin: 0;
          }
        }
  
        .product-info-container {
          margin-top: 50px;
          flex: 1;
          height: 100%;
          overflow-y: scroll;
          position: sticky;
          padding-left: 20px;
        }
      }
    }
    .recommedations {
      flex-grow: 1;
      z-index: 10;
    }
}