.tourCardList{
  display: flex;
  width:80vw;
  height: 280px;
  overflow:scroll;
  flex-wrap: nowrap; 
  flex-direction: row;
  gap: 15px;
  position: relative;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 15px;
}
.tourCardList::-webkit-scrollbar{
  display: block;
  overflow: auto;
  width: 0px;
  height: 12px;
  background-color:#F8DA95;
}
.tourCardList::-webkit-scrollbar-thumb {
 background: #424242;
}