.tourCardList{
  display: flex;
  width: 1160px;
  height: 280px;
  overflow:scroll;
  flex-wrap: nowrap; 
  flex-direction: row;
  // align-items: flex-start;
  // padding: 0px;
  // margin: 15px;
  gap: 15px;
  position: relative;
  align-items: center;
}
