
.card{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: none;
  border-radius: var(--br1);
  max-width: 278px;
  width: 100%;

  .image{
    img{
      aspect-ratio: 16 / 9;
      object-fit: cover;
      border-radius: var(--br1) var(--br1) 0 0;
    }
  }
}