@import 'index.scss';

.card{
  width: 278.75px;
  margin-right: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: none;
  border-radius: $br1;

  img{
    width: 100%;
    height: 100%;
    border-radius: $br1 $br1 0 0;
  }
}