@import 'index.scss';

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.modal-content {
      overflow-y: auto;
      background-color: $white;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 375px;
      padding: 20px;
      height: 100%;
      align-items: center;
      overflow-x:hidden;
  
      .checkout-box{
          background-color: white;
          position: sticky;
          bottom: 0;
          width: 100%;

          .checkout-button {
            background-color: $orange;
            font-size: 30px;
            color: white;
            white-space: nowrap;
            width: 100%;
            margin: 20px 0;
            padding: 10px 0;
            border-radius: $br1;
            text-align: center; 

            &:hover {
                opacity: 0.7;
              }
        }
      }
  
      .modal-title {
        font-weight: bold;
      }
  
      .cart-separator {
        width: 100%;
        margin: 10px;
      }

  
      .close-button {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
  
        .close-button-button {
  
          background-color: transparent;
          border: 0;
          font-size: 1.5em;
          cursor: pointer;
        }
      }
}
