.alert-background{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  background: rgba(0, 0, 0, 0.4);

  .alert-container{
    position: absolute;
    overflow-y: auto;
    margin: 0 auto;
    padding: 50px 20px;
    width: fit-content;
    height: fit-content;
    border-radius: var(--br1);
    background: rgba(255, 255, 255, 0.7);
    color: var(--dark-gary);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);

    .message-grop{
      display: flex;
      .message{
        margin-bottom: 10px;
      }
    }

    .alert-footer{
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      gap: 20px;
      padding-top: 10px;

      li{
        cursor: pointer;
        font-size: 25px;

        &:hover{
          color: var(--purple)
        }
      }
    }
  }
}