@import 'index.scss';

.blog-aside-tags{
  margin-top: 15px;
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;

  li{
    margin: 0 5px 10px 0;
    padding: 2px 8px;
    width: fit-content;
    border-radius: $br2;
    border: 2px solid $orange;
    color: $orange;
    font-size: 20px;
    cursor: pointer;

    &:hover{
      border: 2px solid $purple;
      color: $purple;
    }
  }

}