@import "../styles/styles.scss";
@import "../../../index.scss";

.signup-place {
  @include flex(center, "");
  min-width: 400px;
  .col {
    margin: 40px;
    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: $orange;
      letter-spacing: 2px;
      font-weight: 800;
      // font-family: $family;
      text-transform: uppercase;
    }
    label {
      font-weight: 900;
    }
    input {
      border-radius: $br2;
      box-shadow: 0px 0px 5px 0.5px $gray;
      padding: 5px 20px;
      margin: 10px 10px;
      width: 100%;
      min-width: 180px;
      font-size: 18px;
      transition: 0.3s;
      &:focus {
        outline: none;
      }
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
    }
    select {
      margin: 10px 10px;
      box-shadow: 0px 0px 5px 0.5px $gray;
      border-radius: $br2;
      padding: 5px 20px;
    }
    .btn-place {
      text-align: center;
      margin-top: 15px;
      .btn {
        width: 40%;
        margin: 10px;
        transition: 0.3s;
      }
      .backto-btn {
        color: $white;
        background: $gray;
        &:hover {
          opacity: .8;
        }
        &:active {
          background: #8e8e8e;
        }
      }
      .submit-btn {
        color: $white;
        background: $orange;
        &:hover {
          opacity: .8;
        }
        &:active {
          background: #ce9233;
        }
      }
    }
  }
}
