@import "../../../index.scss";
@import "../styles/styles.scss";

.signup-place {
  @include flex(center, "");
  flex-direction: column;
  padding: 40px;
  h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    color: $white;
    text-shadow: 0px 5px 5px $gray;
  }
  .form-place {
    @include flex(center, column);
    width: 80%;
    .input-password {
      position: relative;
      background: $white;
      border-radius: $br2;
      margin: 10px 0px;
      width: 100%;
      font-size: 16px;
      .input-box {
        margin: 0px;
        width: 90%;
      }
      .show-password-icon {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        margin: 10px;
        transform: translateX(-50%), translateY(-50%);
        transition: 0.3s;
        &:hover {
          color: $orange;
        }
      }
    }
    .input-name-place {
      @include flex(space-between, "");
      .input-name {
        width: 48%;
      }
    }
    .alert-place {
      color: rgb(254, 71, 71);
      font-size: 18px;
    }

    .input-box {
      position: relative;
      border-radius: $br2;
      margin: 10px 0px;
      padding: 10px 20px;
      width: 100%;
      font-size: 16px;
      &::-webkit-input-placeholder {
        transition: 0.5s;
      }
      &:focus {
        outline: none;
      }
      &:focus::-webkit-input-placeholder {
        position: absolute;
        top: 0;
        left: 5;
        font-size: 12px;
      }
    }
    .submit-place {
      @include flex(center, column);
      width: 100%;
      .input-submit {
        width: 100%;
        border-radius: $br2;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 5px 0.5px $gray;
        transition: 0.2s;
        letter-spacing: 5px;
        transition: 0.3s;
        background: $orange;
        color: #fff;
        cursor: pointer;
        &:hover {
          background: $purple;
        }
        &:active {
          background: #3f3875;
        }
      }
    }
  }
}
