@import 'index.scss';

.tour-main-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  color:$dark-gray;
}
.page{
  width: 560px;
  height: 500px;
  background-color: #555;
}
.widget{
  color: #888;
  background-color: #222;
}