.TourCard{
    
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    background: #111;
    box-shadow: 3px 3px 16px 4px rgba(0, 0, 0, 0.25);
    
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}
.TourCardImg{
    width: 352px;
    height: 198px;
    object-fit: cover;
}