.TourCard{
    
    border-radius: 15px;
    overflow: hidden;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: relative;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
    
    min-width: 380px;
    min-height: 240px;

    font-size: 16px;
    line-height: 19px;
    text-align: left;
    cursor:pointer;
}
.TourCardImg{
    width: 380px;
    height: 240px;
    object-fit: cover;
    
}
.TourCardText{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
    color:#EEE;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.TourCard:hover .TourCardImg{
    background: linear-gradient(135deg, #f403d1, #64b5f6);
    background: linear-gradient(135deg, #24ff72, #2196f3);
    filter: blur(8px);
    // transform: translateY(30px) scale(0.9);
}
.TourCard:hover .TourCardText{
    background: linear-gradient(135deg, #ffec61, #f321d7);

}