
.tour-mapcontext{
    width: 1060px;
    height: 560px;
    position: relative;
    overflow: hidden;  
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.map{
    z-index:5;
    width: 1060px;
    height: 560px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.tour-map-btn{
    width: auto;
    height: auto;
    color: #ffff;
    border-radius: 30px;
    background-color: #ffa500;

    
}
