@import 'index.scss';

.tour-banner{
  position: relative;
  width: fit-content;
  // max-height: 260px;
 

  // max-width: 1920px;
  .tour-banner-img{
    object-fit: cover;
    max-height: 380px;
    width:1920px;
  }
  
  .title-section{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    .tour-h1{
      width: fit-content;
      color: $white;
      border-bottom:solid orange 4px; 
      padding-bottom: 10px;
      margin: 15px;
      
    }
    
    .tour-search{
      max-height: 60px;
      height: 100%;
      background-color: $white;
      border-radius: $br2;
      display: flex;
      margin-top: 10px;
      padding: 20px;
      width:30vw;
      .tour-input{
        width: 100%;
        padding: 10px;
        border-radius: $br2;
        font-size: large;
      }
    
      .tour-input::placeholder{
        text-align: left;
      }
  
      .tour-input:focus{
        outline: none;
      }
  
      .tour-button{
        width: auto;
        height: auto;
        color: $orange;
        border-radius: $br2;
        
        .tour-search-icon{
          display: block;
          margin: 0 auto;
        }
      }
    }
  }


}