@import 'index.scss';

.blog-categories{
  margin-top: 15px;
  padding-left: 25px;

    li{
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 20px;
      
      &:hover{
        color: $purple;
      }
    }
}