@import 'index.scss';

.blog-categories{
  margin-top: 15px;
  padding-left: 25px;

  ul{

    li{
      margin-bottom: 5px;
      font-size: larger;
      cursor: pointer;
  
      &:hover{
        color: $purple;
      }

    }
  }
}