@import 'index.scss';


.banner-container {

  position: relative;
  height: 260px;
  width: 100vw;
  margin-bottom: 30px;

  .banner-img {
    width: 100vw;
    height: 100%;
    object-fit:cover;
  }

    .input-group {
      width: 30%;
      margin: 5px 0;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: var(--br2);
      overflow: hidden;
      background: white;
      padding: 13px;
      display: flex;
      justify-content: space-between;
      
  
      .shop-form-control {
        width: 90%;
        border-radius: var(--br2);
        border: none;
        font-size: large;
        text-indent: 10px;
      
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .shop-search-button {
                width: auto;
                  height: auto;
                  color: var(--orange);
                  border-radius: var(--br2);

        .shop-bi-search {
                      display: block;
                        margin: 0 auto;
          }
      }
    }
}


