
.card3{
  text-align: center;
  border: none;

  .card-img{
    .image{
      img{
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: var(--br1) var(--br1) 0 0;
      }
    }
  }

  .card-caption{
    background: white;
    border-radius: var(--br1);
    padding-top: 25px;

    .card-header{
      padding: 0 38px;
      justify-content: space-between;
      flex-wrap: wrap;
      
      .blog-tags{

          li{
            margin-right: 5px;
            width: fit-content;
            border-radius: var(--br2);
            background-color: var(--orange);
            color: white;
            padding: 2px 8px;
            font-size: 20px;
  
            &:hover{
              background-color: var(--purple);
            }
  
            a:hover{
              color: white;
            }
          }
      }

      .blog-avatar{
        font-size: 20px;
      }
    }

    .card-body{
      min-height: 150px;
      padding: 20px 38px 20px 38px;
      text-align: left;
    }
  }

  .card-footer{
    border-top: 1px solid var(--light-gray);
    padding: 20px 38px 20px 38px;
    justify-content: space-between;

    .heart-icon{
      height: 100%;
      display: block;
      color: var(--orange);
      margin-right: 3px;
      cursor: pointer;
    }
  }
}