h1, h2, h3 {
  font-weight: bold;
}

// font 
h1{
  font-size: 42px
}
h2{
  font-size: 35px
}
h3{
  font-size: 28px
}
h4{
  font-size: 24px
}
h5{
  font-size: 19px
}
p{
  font-size: 15px;
}

// color
$white: #fff;
$Gray: #F7F7F7;
$dark-gray: #252525;
$orange: #F2AE3D;
$yellow: #F8DA95;
$eggyolk: #FCED53;
$purple: #514895;

// border-radius
$br1: 15px;  // card | image | ...
$br2: 35px;  // button