@import 'index.scss';

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--br1);
  margin: 5px;

.card-img {
    border-radius: var(--br1);
    margin: 5px;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    /* Set the padding to create a square shape */

    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit:contain;
    }
  }

  .card-info {
    .card-title{
      display: inline-block;
        height: 2.6em;
        white-space: normal;
    }
    .card-price {
      font-weight: bold;
    }
  }

}