@import 'index.scss';

.blog-banner{
  position: relative;
  width: 100vw;
  
  .blog-banner-img{
    width: 100vw;
  }

  .blog-title{
    max-width: 400px;
    width: 100%;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 20%;
    right: calc(50% - (400px / 2));
  }
}

.page-body{
  background: var(--light-gray);
  padding: 30px 0 30px 0;
  width: 100vw;

  .blog-container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;

    .blog-post{
      padding: 0 15px 0 15px;
      margin-bottom: 30px;
    }

    .blog-pagination{
      margin-top: 30px;
    }

    .blog-aside{
      .blog-aside-item{
        margin-bottom: 30px;

        .blog-search{
          padding: 5px;
          max-width: 300px;
          max-height: 60px;
          background-color: white;
          border-radius: var(--br2);
          display: flex;

          .blog-input{
            width: 100%;
            padding: 10px;
            border-radius: var(--br2);
            font-size: large;
          }

          .blog-input::placeholder{
            text-align: left;
          }

          .blog-input:focus{
            outline: none;
          }

          .blog-button{
            width: auto;
            height: auto;
            padding: 10px;
            color: var(--orange);
            border-radius: var(--br2);
      
            .search-icon{
              margin: 0 auto;
            }
          }
        }

      }
    }
  }
}
