.blog-banner{
  position: relative;
  width: 100vw;
  
  .blog-banner-img{
    width: 100vw;
  }

  .blog-title{
    max-width: 400px;
    width: 100%;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 20%;
    right: calc(50% - (400px / 2));
  }
}

.page-body{
  background: var(--light-gray);
  padding: 30px 0 30px 0;
  width: 100vw;

  .blog-container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;

    .blog-post{
      padding: 0 15px 0 15px;
      margin-bottom: 30px;
    }

    .blog-pagination{
      margin-top: 30px;

      .rc-pagination {
        display: flex;
        justify-content: center;

        &-prev,
        &-next {
          margin: 0 8px;
          padding: 4px 12px;
          
          cursor: pointer;
          max-width: 34px;
          width: 100%;

          button{
            color: var(--dark-gary);
          }
      
          &:hover {
            border-radius: var(--br1);
            background-color: var(--purple);
            color: white;
          }
      
          &-disabled {
            color: var(--dark-gray);
            cursor: default;
          }
        }

        &-prev button:after {
          content: '‹';
          display: block;
          color: var(--dark-gary);
        }

        &-next button:after {
          content: '›';
          display: block;
          color: var(--dark-gary);
        }

        &-item {
          margin: 0 8px;
          padding: 4px 12px;
          color: var(--dark-gary);
          cursor: pointer;
          max-width: 34px;
          width: 100%;
          
          &:hover {
            border-radius: var(--br1);
            background-color: var(--purple);
            color: white;
            
          }
          
          &-active {
            border-radius: var(--br1);
            background-color: var(--purple);
            color: white;
          }
        }
      }      
    }

    .blog-aside{
      .blog-aside-item{
        margin-bottom: 30px;

        .blog-search{
          padding: 5px;
          max-width: 300px;
          max-height: 60px;
          background-color: white;
          border-radius: var(--br2);
          display: flex;

          .blog-input{
            width: 100%;
            padding: 10px;
            border-radius: var(--br2);
            font-size: large;
          }

          .blog-input::placeholder{
            text-align: left;
          }

          .blog-input:focus{
            outline: none;
          }

          .blog-button{
            width: auto;
            height: auto;
            padding: 10px;
            color: var(--orange);
            border-radius: var(--br2);
      
            .search-icon{
              margin: 0 auto;
            }
          }
        }

        .weather-section{
          border-radius: var(--br1);
          background-color: rgb(109, 173, 216);
          margin-bottom: 30px;
          padding: 10px;
          max-width: 350px;
          color: white;

          .weather-section::after{
            background-color: rgba(255, 255, 255, 0.3);
            max-width: 400px;
          }
          
          &-select{
            display: flex;
            gap: 10px;
            justify-content: center;
            margin: 15px 0 20px 0;
        
            select{
              font-size: 20px;
              background-color: rgb(109, 173, 216);
            }
          }
        
          &-data{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;

            p{
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}
