
.post-container{
  width: 100vw;
  background: var(--light-gray);
  min-height: 100vh;
  position: relative;

  .page-body{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center; // TODO 可能會影響下面的card
    align-items: center;
    padding-top: 30px;
  }

  .post-header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;

    .tags-section{
      display: flex;
      justify-content: center;
      gap: 10px;

      li{
        color: var(--orange);
        font-size: 20px;

        &:hover{
          color: var(--purple);
        }
      }
    }

    h5{
      text-align: center;

      a{
        color: var(--orange);

        a:hover{
          color: var(--purple);
        }
      }
    }

    .member-avatar{
      margin: 0 auto;
      width: fit-content;

      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: white;
      }
    }

    .post-editor{
      display: flex;
      flex-direction: row;
      gap: 10px;
      color: var(--dark-gray);
      align-items: center;
      justify-content: center;

      &:hover{
        color: var(--purple);
      }
    }
  }

  .head-img{
    img{
      width: 1500px;
    }
  }

  .post-body{
    height: fit-content;
    max-width: 1160px;
    width: 100%;
    text-align: left;

    .post-meta{
      display: flex;
      gap: 15px;
      align-items: center;
      
      .createAt{
        display: flex;
        gap: 5px;
        color: var(--gray);
        align-items: center;
        
        .icon{
          height: 100%;
          border-radius: 50%;
          background: var(--gray);
          color: white;
          padding: 3px;
        }
  
        p{
          font-size: 20px;
        }
      }
  
      .post-likes-group{
        display: flex;
        gap: 5px;
        color: var(--gray);
        align-items: center;
  
        .heart-icon{
          height: 100%;
          border-radius: 50%;
          background: var(--gray);
          color: white;
          padding: 3px;
        }
  
        p{
          font-size: 19px;
        }
      }
    }

    .post-content{
      font-size: 20px;
      margin-top: 10px;
    }
  }

  .post-footer{
    .tags-section{
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: 10px;

      li{
        color: var(--orange);
        font-size: 20px;

        &:hover{
          color: var(--purple);
        }
      }
    }

    p{
      font-size: 20px;
      margin-top: 10px;
      text-align: center;

      a:hover{
        color: var(--purple);
      }
    }

    .heart-icon{
      width: 100%;
      color: var(--orange);
      cursor: pointer;
    }
  }

  .related-post{
    display: flex;
    gap: 15px;
    border-top: 1px solid var(--gray);
    padding: 50px 0;
  }
}